@import "../Shared/config";

// When using shrinkLabel, include autocomplete="off" property in <form>
@mixin shrinkLabel {
  top: -14px;
  font-size: 12px;
  color: $dark-color;
}

.input-group {
  position: relative;
  margin: 1rem 0;

  .input-custom {
    display: block;
    width: 100%;
    background: none;
    background-color: #fff;
    font-size: 1rem;
    padding: 0.6rem 0.6rem 0.6rem 0.3rem;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $med-color;
    margin: 1.5rem 0;

    &:focus {
      outline: none;

      ~ .custom-label {
        @include shrinkLabel();
      }
    }
  }

  .label-custom {
    position: absolute;
    top: 10px;
    left: 5px;
    color: $dark-color;
    font-size: 1rem;
    font-weight: normal;
    pointer-events: none;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}

input[type="password"] {
  letter-spacing: 0.2rem;
}
